@model InternalAudit.Models.Annexure4FormB

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Internal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Annexure4FormB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Institutions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Institutions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuditFees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuditFees)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Annexure4FormBrecNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
