@model IEnumerable<InternalAudit.Models.TblMasterInstitutions>
@using InternalAudit.Common;
@using Newtonsoft.Json;
@{ int rowNo = 0; }
@{
    ViewData["Title"] = "InstitutionsDetails";
    Layout = "~/Views/Shared/Internal.cshtml";
}

@if (ViewData["Msg"] != null)
{
    InternalAudit.DTO.MessageDTO msg = ViewData["Msg"] as InternalAudit.DTO.MessageDTO;
    @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
@*<link href="~/css/dataTables.material.min.css" rel="stylesheet" />*@
<link href="~/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Institutions</h4>
                        <p class="card-category">Institutions List </p>
                        @Html.ActionLink("ADD", "InstitutionsCreate", "Institutions", null, new { @class = "btn btn-default pull-right", style = "margin-top: -49px;" })
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="mytable" width="100%" class="a display table table-bordered  text-center">
                                <thead class="thead-light">
                                    <tr>

                                        <th>Sr.No</th>
                                        <th>District</th>
                                        <th>Institution Category</th>
                                        <th>Institution Name</th>
                                        <th>Institutions Details</th>
                                        <th>Contact</th>
                                        <th>EmaiId</th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                @foreach (var item in @Model)
                                {
                                    <tr>
                                        <th>
                                            @(rowNo += 1)
                                        </th>
                                        <td>@item.District</td>
                                        <td>@item.InstitutionsCategory</td>
                                        <td>@item.InstitutionsName</td>
                                        <td>@item.InstitutionsDetails</td>
                                        <td>@item.Contact</td>
                                        <td>@item.EmaiId</td>
                                        <td>
                                            <a asp-action="InstitutionsEdit" asp-controller="Institutions" asp-route-id="@item.InstitutionsRecNo" title="Edit"><i class="material-icons">build</i></a>
                                            <a asp-action="InstitutionsDelete" asp-controller="Institutions" asp-route-id="@item.InstitutionsRecNo" title="Delete"><i class="material-icons">delete</i></a>
                                        </td>
                                        @*<a href="javascript:void(0)" class="btnEdit">@Html.ActionLink("Edit", "InstitutionsEdit", "Institutions")</a>
                                            <a href="javascript:void(0)" class="btnEdit">@Html.ActionLink("Delete", "InstitutionsDelete", "Institutions")</a>*@
                                        <td>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
@*<script src="~/js/dataTables.material.min.js"></script>*@
<script src="~/js/dataTables.jqueryui.js"></script>
<script>
    $(document).ready(function () {
        $('.a').DataTable();

    });
</script>







