@model IEnumerable<InternalAudit.Models.CommunityFormB>
@using InternalAudit.Common;
@using Newtonsoft.Json;
@{ int rowNo = 0; }
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Internal.cshtml";
}



<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
@*<link href="~/css/dataTables.material.min.css" rel="stylesheet" />*@
<link href="~/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Communial FORM-B </h4>
                        <p class="card-category">Community wise Officers / Staffs Name details as on</p>
                        @Html.ActionLink("ADD", "Create", "CommunityB", null, new { @class = "btn btn-default pull-right", style = "margin-top: -49px;" })
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="mytable" width="100%" class="a display table table-bordered  text-center">
                                <thead class="thead-light">
                                    <tr>

                                        <th>Sr.No</th>
                                        <th>District Office</th>
                                        <th>Officer Personnels Name(Thiru/Tmt/Selvi))</th>
                                        <th>Post Name</th>
                                        <th>Grade</th>
                                        <th>Joining Date</th>
                                        <th>Gender</th>
                                        <th>Religion</th>
                                        <th>Category</th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                @foreach (var item in @Model)
                                {
                                    <tr>
                                        <th>
                                            @(rowNo += 1)
                                        </th>
                                        <td>@item.DistrictOffice</td>
                                        <td>@item.OfficerPersonnelsName</td>
                                        <td>@item.PostName</td>
                                        <td>@item.Grade</td>
                                        <td>@Convert.ToDateTime(item.JoiningDate).ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Gender</td>
                                        <td>@item.Religion</td>
                                        <td>@item.Category</td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="CommunityB" asp-route-id="@item.CommunityFormBrecNo" title="Edit"><i class="material-icons">build</i></a>
                                            <a asp-action="Delete" asp-controller="CommunityB" asp-route-id="@item.CommunityFormBrecNo" title="Delete"><i class="material-icons">delete</i></a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewData["Msg"] != null)
{
    InternalAudit.DTO.MessageDTO msg = ViewData["Msg"] as InternalAudit.DTO.MessageDTO;
    @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
}
<script src="~/js/jquery.min.js"></script>
@*<script src="~/js/dataTables.material.min.js"></script>*@
<script src="~/js/dataTables.jqueryui.js"></script>
<script>
    $(document).ready(function () {
        $('.a').DataTable();

    });
</script>