@model InternalAudit.Models.AuditPdlForm1a

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Internal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AuditPdlForm1a</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FinancialYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinancialYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Institutions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Institutions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoOfInstitutions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfInstitutions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstPendingPrevMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstPendingPrevMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstCompletedThisMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstCompletedThisMonth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstPendingEndMonth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstPendingEndMonth)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuditPdlForm1ArecNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
