@model IEnumerable<InternalAudit.Models.AuditPdlFormI>
@using InternalAudit.Common;
@using Newtonsoft.Json;
@{ int rowNo = 0; }
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Internal.cshtml";
}

@if (ViewData["Msg"] != null)
{
    InternalAudit.DTO.MessageDTO msg = ViewData["Msg"] as InternalAudit.DTO.MessageDTO;
    @await Html.PartialAsync("~/Views/Shared/_ShowMsg.cshtml", msg);
}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
@*<link href="~/css/dataTables.material.min.css" rel="stylesheet" />*@
<link href="~/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">AUDIT PDL FORM-I</h4>
                        <p class="card-category">
                            Details of Institutions in which audit is pending for long time (Till Year )(This Form should
                            be sent once in a year i.e. in January)
                        </p>
                        @Html.ActionLink("ADD", "Create", "AuditFormI", null, new { @class = "btn btn-default pull-right", style = "margin-top: -49px;" })
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="mytable" width="100%" class="a display table table-bordered  text-center">
                                <thead class="thead-light">
                                    <tr>

                                        <th>Sr.No</th>
                                        <th>Financial Year</th>
                                        <th>District</th>
                                        <th>Institutions</th>
                                        <th>Details of Centre /Institutions</th>
                                        <th>Reasons for pendency</th>
                                        <th>Operation</th>
                                    </tr>
                                </thead>
                                @foreach (var item in @Model)
                                {
                                    <tr>
                                        <th>
                                            @(rowNo += 1)
                                        </th>
                                        <td>@item.FinancialYearName</td>
                                        <td>@item.DistrictName</td>
                                        <td>@item.InstitutionName</td>
                                        <td>@item.CentreInstitutionDetails</td>
                                        <td>@item.PendencyReasons</td>
                                        <td>
                                            <a asp-action="Edit" asp-controller="AuditFormI" asp-route-id="@item.AuditPdlFormIrecNo" title="Edit"><i class="material-icons">build</i></a>
                                            <a asp-action="Delete" asp-controller="AuditFormI" asp-route-id="@item.AuditPdlFormIrecNo" title="Delete"><i class="material-icons">delete</i></a>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
@*<script src="~/js/dataTables.material.min.js"></script>*@
<script src="~/js/dataTables.jqueryui.js"></script>
<script>
    $(document).ready(function () {
        $('.a').DataTable();

    });
</script>
